.nav-pills>li{
    width: 175px;
}


.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    text-align: center;
}

.nav-pills>li>a{
    text-align: center;
}

/*
.slider-example {
    padding: 0px ;
    margin: 15px ;
}
*/

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:blue;
    height:20px;
    width:10px;
}

div.power {
    position: absolute;
    top: 150px;
    right: 150px;
    width: 60px;
    height: 60px;
}